@model SANTHOSHEFLibrary.ConstituteDetails

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<div>
    <h4>ConstituteDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConstituteID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConstituteID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConstitueName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConstitueName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalNumberOfVoters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalNumberOfVoters)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalNoOfMaleVoters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalNoOfMaleVoters)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalNoOfFemaleVoters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalNoOfFemaleVoters)
        </dd>
       
       
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConstituteID }) 
    <a asp-action="List">Back to List</a>
</div>
